* {
  font-family: 'League Spartan', sans-serif;
  font-size: 32px;
}

main {
  display: flex;
  height: 100vh;
}

.calculator-container {
  margin: auto;
  width: 25%;
  padding: 15px;
  min-width: 360px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container > p {
  font-size: 0.7rem;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider-label {
  font-size: 0.3rem;
  margin-right: 10px;
}

.slider {
  width: 1.4rem;
  height: 0.5rem;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-dot {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
}

.slider-dot:hover {
  cursor: pointer;
}

.dot-label {
  position: relative;
  font-size: 0.3rem;
  bottom: 30px;
  left: 4px;
}

.result-container {
  text-align: end;
  padding: 15px 20px 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.previous-op {
  font-size: 0.35rem;
}

.result {
  font-size: 1.3rem;
  display: block;
  margin-top: 5px;
}

.keyboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.6rem;
  padding: 20px;
  height: 9rem;
  border-radius: 15px;
}

.calculator-key {
  border-radius: 10px;
  border: none;
}

.calculator-key:hover {
  cursor: pointer;
}

.big-key {
  grid-column: span 2;
}

.calculator-key-del-res,
.calculator-key-eq {
  font-size: 0.6rem;
}

/* Coloring by theme */

body.theme1 {
  background-color: hsl(222, 26%, 31%);
}

.calculator-container.theme1 {
  color: white;
}

.header-container.theme1 {
  color: white;
}

.slider.theme1 {
  background-color: hsl(224, 36%, 15%);
}

.slider-dot.theme1.active {
  background-color: hsl(6, 63%, 50%);
}

.result-container.theme1 {
  background-color: hsl(224, 36%, 15%);
}

.keyboard-container.theme1 {
  background-color: hsl(223, 31%, 20%);
}

.calculator-number-key.theme1,
.calculator-operation-key.theme1 {
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0px 3px hsl(28, 16%, 65%);
}

.calculator-key-del-res.theme1 {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 3px hsl(224, 28%, 35%);
  color: white;
}

.calculator-key-eq.theme1 {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 3px hsl(6, 70%, 34%);
  color: white;
}

/* --------------Theme 2-------------- */